
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0,0,0, 0.3);
}
body * {
    z-index: 999;
}
#video {
    width: 100%;
    height: 100vh;
    z-index: -222;
    position: fixed;
    object-fit: cover;
}
.container {
    width: 400px;
    max-height: 500px;
    border-radius: 15px;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px black;
    padding: 15px;
    position: relative;
    transition: height 0.5s ease; 
    overflow: hidden ;
    position: relative;
    z-index: 999;
}

header {
    padding:5px 5px 10px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-city {
    position: absolute;
    background-color: transparent;
    outline: none;
    border: solid 1px rgb(255, 255, 255);
    width: 80%;
    height: 50px;
    border-radius: 8px;
    position: absolute;
    padding: 5px 45px 5px 40px;
    text-transform: uppercase;
    color: white;
    font-size: 17px;
    transition: all 0.3s ease;
}

.input-city::placeholder{
    color: white;
    font-size: 17px;
    text-align: center;
}
.input-city:focus{
    box-shadow: 0 0 10px rgba(255,255,255,0.3);
}

.btn-locate {
    position: relative;
    left: -120px;
    font-size: 17px;
    color: white;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.btn-search {
    position: relative;
    background-color: transparent;
    border: none;
    right: -120px;
    font-size: 17px;
    color: rgb(102, 99, 99);
    cursor: pointer;
    background-color: rgba(240, 248, 255, 0.836);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: all 0.3s ease;
}
section {
    text-align: center;
    margin:15px ;
    height: 280px;
}
section img {
    width: 230px;
    object-fit: cover;
    position: relative;
    top: -38px;
}

.data-temp{
    font-size: 60px;
    position: relative;
    top: -65px;
    font-weight:600;
    color: antiquewhite;
}
.data-temp span {
    position: absolute;
    font-size: 30px;
}

.description {
    position: relative;
    top: -105px;
    font-size: 17px;
    color: antiquewhite;
}
.span {
    position: relative;
    font-size: 30px;
    top: -155px;
    right: -45px;
    margin-left: 10px;
    color: antiquewhite;
}

.all-data {
    display: flex;
    justify-content: space-between;
    margin: 35px 20px 15px;
}

.bouth {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.bouth i {
    font-size: 35px;
    color: antiquewhite;
}
.bouth-info {
    font-size: 17px;
    color: antiquewhite;
}

.info {
    display: none;
}
.info.active {
    display: block;
}

.error {
    display: none;
}
.error.active {
    display: block;
}
.allerror {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.allerror img {
    width: 140%;
}
@media (max-width:450px){
    .container{
        width: 370px;
        max-height: 500px;
    }
    .input-city {
        width: 85%;
        padding: 5px 50px 5px 45px;
    }
    .btn-locate {
        margin-left: 20px;
    }
    .btn-search {
        margin-right: 15px;
    }

}